.pricingForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.calculateBtn {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem 0;
    border-radius: 15px;
    outline: none;
    border: none;
    background-color: var(--color-primary);
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
}

/* ===== TABLET ===== */
@media (min-width: 768px) {
    .pricingForm {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.3rem 1.5rem;
    }

    .pricingForm > :nth-child(7),
    .calculateBtn {
        grid-column: span 2;
    }
}

/* ===== DESKTOP ===== */
@media (min-width: 1024px) {
    .pricingForm > :nth-child(7) {
        grid-column: span 1;
    }
}
