.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
    padding: 1rem;
}

.iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: var(--color-primary);
    border-radius: 15px;
}

.title {
    color: var(--color-text);
}

.description {
    text-align: center;
}
